frameworkVersion: '2'
service: ducati-product-service

plugins:
  - serverless-bundle
  - serverless-dotenv-plugin
  - serverless-auto-swagger
  - serverless-offline

provider:
  name: aws
  runtime: nodejs14.x
  # region: eu-west-1
  region: us-east-1
  lambdaHashingVersion: 20201221

functions:
  createProduct:
    handler: src/handlers/handlers.createProduct
    events:
      - http:
          path: /products
          method: post
          cors: true

  getProductsList:
    handler: src/handlers/handlers.getProductsList
    events:
      - http:
          path: /products
          method: get
          cors: true

  getProductsById:
    handler: src/handlers/handlers.getProductsById
    events:
      - http:
          path: /products/{id}
          method: get
          cors: true
